WcfTestClient/Connected Services/AuctionServiceReference/AuctionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:6739/AuctionService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfWebApplication.Models" />
  <xs:element name="GetAllAuctions">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllAuctionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfWebApplication.Models" minOccurs="0" name="GetAllAuctionsResult" nillable="true" type="q1:ArrayOfAuctionItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuctionByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="itemNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuctionByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfWebApplication.Models" minOccurs="0" name="GetAuctionByIDResult" nillable="true" type="q2:AuctionItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeBid">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfWebApplication.Models" minOccurs="0" name="bid" nillable="true" type="q3:Bid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeBidResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MakeBidResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>